html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.main_title {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

.lunch_wrap{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.sub_title {
    margin-bottom: 20px;
}

.box {
    max-width: 600px;
    padding: 30px 0;
    background-color: #6b9ecc;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.box button {
    width: 80px;
    height: 40px;
}

.box input[type="text"] {
    width: 250px;
    height: 30px;
    padding: 0 20px;
}

.new_menu {
    margin-bottom: 30px;
}

.new_menu label {
    margin-right: 20px;
}

.menu_list:after {
    display: block;
    clear: both;
    content: '';
}

.menu_list li {
    float: left;
    position: relative;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 0;
    text-align: left;
    box-sizing: border-box;
}

.menu_list li:last-child {
    margin-bottom: 0;
}

.menu_list li .name {
    display: inline-block;
    width: 180px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.menu_list li.active .name,
.menu_list li:hover .name {
    font-weight: bold;
}

.pop {
    display: none;
    position: absolute;
    left: -40px;
    top: -100px;
    width: 200px;
    padding: 20px 0;
    background-color: #000;
    text-align: center;
}

.active .pop {
    display: block;
}

.pop .country {
    margin-bottom: 10px;
    font-size: 14px;
}

.pop .main_menu {
    font-size: 14px;
}

.pop::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: #000 transparent transparent transparent;
    content: '';
}

.random_menu {
    display: table;
    width: 300px;
    height: 300px;
    margin: 0 auto 50px;
    background-color: #000;
}

.random_menu .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.random_menu button {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #6b9ecc;
    border: none;
    color: #fff;
}

.random_menu p {
    color: #fff;
}

.map_wrap {
    width: 500px;
    height: 500px;
}

.map_wrap .map {
    width: 100%;
    height: 100%;
}